:root{
    --blue     : #092B40;
    --lightGray: #E7E7E8;
    --orange   : #D96F32;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px 10px 0 10px;

    background-color: var(--blue);
    color: white;
}
.appTitle {
    font-size: 18px;
    transition: 0.4s;
    margin-bottom: 30px;
    color: white;
}
.linkReset {
    outline: none;
    text-decoration: none;
    color: white;
}